# Mac OS X Finder settings
.DS_Store

# Xcode per-user config (very noisy, and not relevant)
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
*.pyc
xcuserdata

# build products
[bB]uild/
*/build/
*.[oa]

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
